﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="_1212048_Source.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h2>MSSV: 1212048</h2>
        <h2>Họ tên: DIỆP MỸ DUNG</h2>
        <h2>Email: 1212048@student.hcmus.edu.vn - dmdung94@gmail.com</h2>
        <img src="Dung.jpg" width="200" height="300" border="0" alt="Ảnh đại diện của Diệp Mỹ Dung">
    </div>
    </form>
</body>
</html>
